<h1 style="text-align: center;">ABBAS Articles</h1>
<app-article-form (createFormEvent)="onCreateArticle($event)" ></app-article-form>
<div class="article" *ngFor="let article of articles; index as i">
  <app-article
    [title]="article.title"
    [author]="article.author"
    [articleBody]="article.articleBody"
  ></app-article>
  <h2>Comments</h2>
  <div *ngFor="let comment of article.comments">
    <app-comment
      [author]="comment.author"
      [commentBody]="comment.commentBody"
    ></app-comment>
  </div>
  <app-comment-form [articleIndex]="i" (articleIndexEvent)="getArticleIndex($event)" (createCommentEvent)="onCreateComment($event)" ></app-comment-form>
</div>
